<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,user-scalable=yes" />
    <title>F1 world champions between 2005 and 2015!</title>
    <style>
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="f1champions">
    <div class="wrapper" ng-controller="globalController">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        F1 World Champions!
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <a ng-click="prev();" class="button append_top" title="Previous Year" ng-class="{'deactive' : selected_year == 2005}">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        <span class="btn_text hidden-xs">Previous Year</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <select name="" id="" ng-change="getRaceWinnersInYear(selected_year)" ng-model="selected_year">
                        <option value="">Year</option>
                        <option ng-repeat="year in range(2005,2015)" value="{{year}}">{{year}}</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 ta_right">
                    <a ng-click="next();" class="button append_top" title="Next Year" ng-class="{'deactive' : selected_year == 2015}">
                        <span class="btn_text hidden-xs">Next Year</span>
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> = The World Champion <span ng-if="selected_year" ng-cloak>of {{selected_year}}</span>
                </div>                
                                    
            </div>
            <div class="row">
                <div class="col-lg-12" ng-if="championID" ng-cloak>
                    <h2 >Races:</h2>
                    <table class="champions_table" >
                        <tr>
                            <th class="first_col">Round</th>
                            <th>Race Name</th>
                            <th>Winner Driver</th>
                        </tr>
                        <tr ng-repeat="race in races.MRData.RaceTable.Races" ng-class="{'champion' : race.Results[0].Driver.driverId == championID}">
                            <td class="center">
                                {{race.round}}
                            </td>
                            <td>
                                <a ng-href="{{race.url}}">{{race.raceName}}</a>
                            </td>
                            <td>
                                <a ng-href="{{race.Results[0].Driver.url}}">{{race.Results[0].Driver.givenName}} 
                                {{race.Results[0].Driver.familyName}}
                                <span class="glyphicon glyphicon-star" aria-hidden="true" ng-if="race.Results[0].Driver.driverId == championID"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="assets/lib/css/normalize.min.css">
    <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/lib/css/jcf.min.css">
    <link rel="stylesheet" href="assets/lib/css/loading-bar.min.css">
    <link rel="stylesheet" href="assets/lib/css/sweetalert.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="assets/lib/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/lib/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/lib/js/jcf.js"></script>
    <script type="text/javascript" src="assets/lib/js/jcf.select.js"></script>
    <script type="text/javascript" src="assets/lib/js/loading-bar.js"></script>
    <script type="text/javascript" src="assets/lib/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>