html * {
    max-height: 999999px;
    /*Font size fix for Chrome and Chrome mobile*/
}

body {
    background: steelblue;
    font-family: arial;
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    padding-bottom: 20px;
    overflow-y: scroll; 
}

::-moz-selection {
    background: steelblue;
    color: white;
}

::selection {
    background: steelblue;
    color: white;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

.ta_right {
    text-align: right;
}

.button {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 60px;
    line-height: 60px;
    font-size: 23px;
    border-radius: 50px;
    border: 1px solid #38678f;
    background: steelblue;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
    transition: all 0.1s;
    margin: 0 10px 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    padding: 0 20px;
}

.button:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1em 1em;
}

.button:hover:before {
    background: rgba(255, 255, 255, 0.2);
}

.button:active:before {
    background: rgba(255, 255, 255, 0.3);
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 50px;
    padding: 1em 1em;
}

.button:hover {
    background: #4f8aba;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
}

.button:active {
    color: #ddd;
    background: #427aa9;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.button:focus {
    outline: none;
}

.button.deactive {
    background: gray;
    z-index: -5;
}

.button.btn_text {
    font-size: 25px;
    line-height: 15px;
}


.header {
    background-color: white;
    color: steelblue;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 23px;
}

.champions_table {
    margin-top: 20px;
}

.champions_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #38678f;
    background: white;
    color: #555;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
}

.champions_table th {
    padding: 0 10px;
    background: steelblue;
    height: 40px;
    line-height: 40px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
}

.champions_table tr {
    border-bottom: 1px solid #cccccc;
}

.champions_table tr.champion {
    background-color: #ffe8d2;
}

.champions_table tr:last-child {
    border-bottom: 0px;
}

.champions_table td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
    position: relative;
}

.champions_table td:last-child {
    border-right: 0px;
}

.champions_table td.selected {
    background: #d7e4ef;   
}

.champions_table td input {
    font-size: 14px;
    background: none;
    outline: none;
    border: 0;
    display: table-cell;
    height: 100%;
    width: 100%;
}

.champions_table td input:focus {
    box-shadow: 0 1px 0 steelblue;
    color: steelblue;
}

.champions_table .word {
    width: 10%;
    padding: 0 5px;
}

.green_form_border {
    
}

.jcf-select {
    background: #fff;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    cursor: pointer;
    padding: 0 15px 0 15px;
    color: #000;
    border: 1px solid #38678f;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1),inset 0 1px 3px rgba(255,255,255,0.2);
    border-radius: 30px; 
}

.jcf-select .jcf-select-opener {
    margin-right: 10px;
    background: url('../img/select_bg.png') right center no-repeat;
}

.jcf-select-text {
    padding-right: 15px;
}

.first_col {
    width: 60px;
}
